body {
    margin: 0px;
}

main {
    margin-left: 20px;
}

h1 {
    text-align: center;
}

.navbar ul {
    lost-style-type: none; /* remove bullet points */
    margin:0;
    padding:0;
    overflow:hidden; /* clear floats */
    background: color #333;

}

.navbar li {
float: left;  /* float list items to the left    */
} 

.navbar a {
    display: block;/* make link fill entire list item */
    color: white;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none; /* remove underline from links */
}
navbar a:hover { 
background-color: #111;/* change background color on hover */
}

